body {
    color: #fff;
    user-select: none; /* 텍스트 드래그 방지 */

    margin: 0;
    padding: 0;

    background-color: #000;
}

.container {
    margin: 1.875rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    top: 1.875rem;
    left: 1.875rem;
}

#WFF-menu {
    display: flex;
    flex-direction: column;
}

.small-nav {
    width: 20rem;

    margin: 0.75rem 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu:hover, .menu-selected {
    text-decoration: underline;
    text-underline-position : under;
}

.small-menu:hover, .small-menu-selected {
    text-decoration:underline;
    text-decoration-style: dotted;
    text-underline-position: under;
}

/*
nav a:hover, .menu_selected {
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFD565,
        0 0 70px #FFD565, 0 0 80px #FFD565, 0 0 100px #FFD565, 0 0 150px #FFD565;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFD565,
        0 0 35px #FFD565, 0 0 40px #FFD565, 0 0 50px #FFD565, 0 0 75px #FFD565;
    }
}
*/

.page-container {
    width: 70rem;
}

nav {
    margin-bottom: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.blank {
    height: 10rem;
}

#HIVCD {
    top: 1.875rem;
    right: 1.875rem;

    width: 4.44863rem;
    height: 4.6875rem;

    flex-shrink: 0;
}