body {
    font-family: 'Theinhardt Mono', 'Pretendard'; /* 영문, 숫자, 한글 폰트 */
    font-weight: 400;
    word-break: keep-all;
    overflow-x: hidden;

    min-height: 100vh;

    color: #D4DEE5;
    user-select: none; /* 텍스트 드래그 방지 */

    margin: 0;
    padding: 0;

    background-color: #000;
}

.background-wrap {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: -10;
    animation: floatAnimation 1.2s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
}

.background-logobox {
    width: 60%;
}

.background-logobox img {
    width: 100%;

    opacity: 0.2;
}

.main-container {
    padding: 1.875rem;
}

.md-header {
    display: none;
}

/* ============= 모바일 메뉴 =============== */

#menuToggle {
    height: 100%;
}

#showListButton {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#showListButton:hover {
    opacity: 80%;
    cursor: pointer;
}

#showListButton img {
    height: 100%;
}

#hiddenList {
    position: fixed;
    width: 18rem;
    height: 100%;
    margin: 0.5rem 0 0 -50px;
    padding: 1rem 5rem 5rem 5rem;

    background: #D4DEE5;
    box-shadow: 0.25rem 5rem 4rem 0.15rem #000; /* x축 y축 blur spread color */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hiddenList > a {
    text-decoration-line: none;
}

#hiddenList > a > li {
    color: #000;
    padding: 10px 0;
    font-size: 22px;
}

/* ======================================== */

header {
    position: fixed;
    width: 16.66667%;
    top: 1.875rem;
    left: 1.875rem;
    z-index: 10;

    padding: 0;
}

header a img {
    width: 6rem;
}

header a img:hover {
    opacity: 80%;
}

.HIVCD {
    position: fixed;
    width: 16.66667%;
    top: 1.875rem;
    right: 1.875rem;
    z-index: 10;
    
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.nav-holder {
    position: fixed;
    width: 63.5%;
    z-index: 10;

    align-self: center;
}

nav {
    font-size: 1.25rem;
    line-height: 0.9rem;

    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

nav a {
    color: #D4DEE5;
    text-decoration: none;
}

#WFF-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-nav {
    width: 100%;

    margin: 1.75rem 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    gap: 1.25rem; /* 각 메뉴 사이의 간격 설정 */
}

.menu:hover, .menu-selected {
    text-decoration: underline;
    text-underline-position : under;
}

.small-menu:hover, .small-menu-selected {
    text-decoration:underline;
    text-decoration-style: dotted;
    text-underline-position: under;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease; /* Adding a smooth transition for the opacity effect */
}
  
.fade-in.show {
    opacity: 1;
}

.unit {
    display: flex;
    flex-direction: row;
}

.section-title {
    padding: -0.25rem 0rem 0.81rem 0;

    flex: 1;
}

.section-title h3 {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 120%;

    padding-right: 3rem;
    margin: 0;
}

.section-title-kor {
    font-size: 2.05rem;
    font-weight: 500;
}

.txt {
    flex: 1;
}

.txt p {
    font-size: 1.5rem;

    margin: 0;
}

.kor p {
    font-size: 1.4rem;
    line-height: 170%;

    margin-bottom: 0.75rem;
}

.eng p {
    line-height: 160%;
}

.empty-cell {
    height: 5rem;
}

.credit-section {
    display: flex;
    flex-direction: column;
}

.credit-title {
    color: #000;
    background-color: #D4DEE5;

    margin-bottom: 1rem;
    padding: 0;
}

.credit-title p {
    margin: 0;
    line-height: 2rem;

    text-align: center;
}

.credit-group {
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-archive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-archive p {
    font-size: 6rem;
}

.location-section {
    display: flex;
    flex-direction: column;
}

#location {
    width: 60%;

    margin: 0.5rem 0 0 0;
}

.diagram {
    width: 100%;
}

.toggle {
    display: none;
}

.qna-list-section {
    list-style: none;
    overflow: hidden;

    padding: 0;
    margin: 0;

}

.qna-list {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.qna-title {
    border-bottom: 2px solid #D4DEE5;

    padding: 0.5rem 0 0.5rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qna-title h5 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 170%;

    margin: 0;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

ion-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.qna-list .qna-answer {
    color: #000;
    height: 0;
    overflow: hidden;

    padding: 0 2rem 0 2rem;

    background-color: #D4DEE5;

    transition: height 0.5s ease, opacity 0.5s ease;
}

.qna-list .qna-answer p {
    font-size: 1.4rem;
    line-height: 170%;

    padding: 1.5rem 0 0.5rem 0;
}

.qna-list .qna-answer a {
    color: #000;
    text-underline-position: under;
}

.toggle:checked ~ .qna-answer{
    height: 10rem;
    opacity: 1;

    border-bottom: 2px solid #D4DEE5;
    flex: 1;
}

.qna-list .toggle:checked + .qna-title .arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

#symbol-HIVCD {
    top: 1.875rem;
    right: 1.875rem;

    width: 3rem;

    align-self: baseline;
}

footer {
    z-index: 10;
    width: 100%;
    bottom: 0;
    position: absolute;
    position: fixed;

    padding-left: 0.75rem;

    color: #000;
    background-color: #D4DEE5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    line-height: 140%;

    margin: 0 1.5rem 0 0;
    padding-top: 0.25rem;
}

.gap {
    display: none;
}

.btn-sns {
    margin-top: 0.25rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-insta {
    margin: 0 0.5rem 0 0.75rem;
}

.btn-sns > a > img {
    height: 2rem;
}

.mobile_diagram {
    display: none;
}

.video-player {
    padding-top: 56.25%;
    position: relative;
    z-index: 1;
}

.video-player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frame {
    height: 100%;

    margin: 0 0 1.5rem 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.archive-gallery {
    width: 100%;
    padding: 0 1rem 0 1rem;

    align-self: center;
}

.image-link {
    width: 100%;
    cursor: pointer;
}

.image-link:hover .default {
    display: none;
}

.image-link:hover .hover {
    display: block;
}

.default {
    top: 0;
    left: 0;
    width: 100%;

    border-radius: 20px;
}

.hover {
    display: none;
    top: 0;
    left: 0;
    width: 100%;

    border-radius: 20px;
}

.archive-caption {
    width: 100%;
    text-align: center;

    padding: 1rem;
}

.archive-caption > h4 {
    line-height: 120%;
    margin-bottom: 0.4rem;
}

.archive-caption > h6 {
    line-height: 110%;
    margin-bottom: 0;
}

.stillcut > img {
    width: 100%;
}

.go-back-btn {
    height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
}

.go-back-btn > img {
    height: 100%;
}

.sm-go-back-btn {
    display: none;
}


@media (max-width: 1200px) and (min-width: 992px) {
    .unit {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 1.5rem;
        padding: 1.5rem 0 1.5rem 0;
        border-top: 2px solid #D4DEE5;
        border-bottom: 2px solid #D4DEE5;
    }

    #location {
        width: 100%;
    }

    #art {
        margin-bottom: 2rem;
    }

    #change > div:nth-child(1) {
        order: 3;
    }

    #change > div:nth-child(2) {
        display: none;
    }

    #change > div:nth-child(3) {
        order: 1;
        margin-bottom: 2rem;
    }
}


@media (max-width: 992px) and (min-width: 900px) {
    header, .HIVCD {
        display: none;
    }

    .md-header {
        position: fixed;
        width: 100%;
        height: 3rem;
        color: #000;
        z-index: 10;

        padding: 0.5rem;
        margin: 0 0 1rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #D4DEE5;
    }

    .empty-cell:nth-of-type(1), .empty-cell:nth-of-type(2) {
        display: none;
    }

    .md-btn-index, .md-HIVCD {
        height: 100%;
    }

    .md-WFF {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .md-WFF > img {
        height: 100%;
    }

    .md-WFF > img:hover {
        opacity: 0.7;
    }

    .page-container nav {
        display: none;
    }

    /* .small-nav를 감싸는 행과 컬럼을 추가하여 가운데 정렬 */
    .row.small-nav-row {
        display: flex;
        justify-content: center;
    }

    /* .small-nav를 감싸는 행의 스타일 수정 */
    .row.small-nav-row::before,
    .row.small-nav-row::after {
        display: none;
    }

    footer p {
        font-size: 0.75rem;
        line-height: 140%;
    
        margin: 0 1.5rem 0 0;
        padding-top: 0.25rem;
    }

    .frame {
        height: 100%;
    
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-gallery {
        width: 100%;
        height: 100%;

        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 3rem 0 37.59px 0;
    
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .default {
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }
    
    .hover {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .archive-caption {
        width: 100%;
        text-align: center;

        padding: 1rem 1rem 2rem 1rem;
    }

    .archive-caption > h4 {
        font-size: 1.25rem;
    }

    .archive-caption > h6 {
        font-size: 0.9rem;
    }

    .discard {
        display: none;
    }

    #archive-header {
        display: none;
    }

    .go-back-btn {
        height: 2rem;

        margin-bottom: 5rem;
    
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: baseline;
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    header, .HIVCD {
        display: none;
    }

    .md-header {
        position: fixed;
        width: 100%;
        height: 3rem;
        color: #000;
        z-index: 10;

        padding: 0.5rem;
        margin: 0 0 1rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #D4DEE5;
    }

    .empty-cell:nth-of-type(1), .empty-cell:nth-of-type(2) {
        display: none;
    }

    .md-btn-index, .md-HIVCD {
        height: 100%;
    }

    .md-WFF {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .md-WFF > img {
        height: 100%;
    }

    .md-WFF > img:hover {
        opacity: 0.7;
    }

    .page-container nav {
        display: none;
    }

    /* .small-nav를 감싸는 행과 컬럼을 추가하여 가운데 정렬 */
    .row.small-nav-row {
        display: flex;
        justify-content: center;
    }

    /* .small-nav를 감싸는 행의 스타일 수정 */
    .row.small-nav-row::before,
    .row.small-nav-row::after {
        display: none;
    }

    .section-title h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 120%;
    
        padding-right: 3rem;
        margin: 0;
    }

    .section-title-kor {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .txt p {
        font-size: 1.25rem;
    
        margin: 0;
    }
    
    .kor p {
        font-size: 1.2rem;
        line-height: 170%;
    
        margin-bottom: 0.75rem;
    }

    .credit-title {
        color: #000;
        background-color: #D4DEE5;
    
        margin-bottom: 1rem;
        padding: 0;
    }
    
    .credit-title p {
        margin: 0;
        line-height: 2rem;
    
        text-align: center;
    }

    #location-unit {
        display: flex;
        flex-direction: column;
    }

    #location {
        width: 100%;
        margin-top: 1.5rem;
    }

    footer p {
        font-size: 0.75rem;
        line-height: 140%;
    
        margin: 0 1.5rem 0 0;
        padding-top: 0.25rem;
    }

    .frame {
        height: 100%;
    
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-gallery {
        width: 100%;
        height: 100%;

        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 3rem 0 37.59px 0;
    
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .default {
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }
    
    .hover {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .archive-caption {
        width: 100%;
        text-align: center;

        padding: 1rem 1rem 2rem 1rem;
    }

    .archive-caption > h4 {
        font-size: 1.25rem;
    }

    .archive-caption > h6 {
        font-size: 0.9rem;
    }

    .discard {
        display: none;
    }

    #archive-header {
        display: none;
    }

    .go-back-btn {
        height: 1.5rem;

        margin-bottom: 5rem;
    
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: baseline;
    }
}


@media (max-width: 767px) and (min-width: 650px) {
    header, .HIVCD {
        display: none;
    }

    .md-header {
        position: fixed;
        width: 100%;
        height: 3rem;
        color: #000;
        z-index: 10;

        padding: 0.5rem;
        margin: 0 0 1rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #D4DEE5;
    }

    .empty-cell:nth-of-type(1), .empty-cell:nth-of-type(2) {
        display: none;
    }

    .md-btn-index, .md-HIVCD {
        height: 100%;
    }

    .md-WFF {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .md-WFF > img {
        height: 100%;
    }

    .md-WFF > img:hover {
        opacity: 0.7;
    }

    .page-container nav {
        display: none;
    }

    /* .small-nav를 감싸는 행과 컬럼을 추가하여 가운데 정렬 */
    .row.small-nav-row {
        display: flex;
        justify-content: center;
    }

    /* .small-nav를 감싸는 행의 스타일 수정 */
    .row.small-nav-row::before,
    .row.small-nav-row::after {
        display: none;
    }

    .section-title h3 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 120%;
    
        padding-right: 3rem;
        margin: 0;
    }

    .section-title-kor {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .txt p {
        font-size: 1rem;
    
        margin: 0;
    }
    
    .kor p {
        font-size: 0.9rem;
        line-height: 170%;
    
        margin-bottom: 0.5rem;
    }

    .credit-title {
        color: #000;
        background-color: #D4DEE5;
    
        margin-bottom: 1rem;
        padding: 0;
    }
    
    .credit-title p {
        font-size: 1rem;
        margin: 0;
        line-height: 2rem;
    
        text-align: center;
    }

    #location-unit {
        display: flex;
        flex-direction: column;
    }

    #location {
        width: 100%;

        margin-top: 1.5rem;
    }

    .qna-title h5 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 170%;
    
        margin: 0;
    }
    
    .qna-list .qna-answer p {
        font-size: 1.2rem;
        line-height: 170%;
    
        padding: 1.5rem 0 0.5rem 0;
    }

    .gallery-archive p {
        font-size: 4rem;
    }

    footer {
        position: relative;
        z-index: 1;
        
        padding: 0.75rem 0 0.75rem 0.75rem;

        display: flex;
        flex-direction: column;
    }

    .gap {
        display: block;
        height: 1rem;
    }


    .frame {
        height: 100%;
    
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-gallery {
        width: 100%;
        height: 100%;

        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 3rem 0 37.59px 0;
    
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .archive-caption {
        width: 100%;
        text-align: center;

        padding: 1rem 1rem 2rem 1rem;
    }

    .default {
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }
    
    .hover {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }

    .discard {
        display: none;
    }

    #archive-header {
        display: none;
    }

    .go-back-btn {
        height: 1.5rem;

        margin-bottom: 4rem;
    
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: baseline;
    }
}

@media (max-width: 650px) and (min-width: 576px) {
    header, .HIVCD {
        display: none;
    }

    .md-header {
        position: fixed;
        width: 100%;
        height: 2rem;
        color: #000;
        z-index: 10;

        padding: 0.5rem;
        margin: 0 0 1rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #D4DEE5;
    }

    .empty-cell:nth-of-type(1), .empty-cell:nth-of-type(2) {
        display: none;
    }

    .md-btn-index, .md-HIVCD {
        height: 100%;
    }

    .md-WFF {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .md-WFF > img {
        height: 100%;
    }

    .md-WFF > img:hover {
        opacity: 0.7;
    }

    .page-container nav {
        display: none;
    }

    /* .small-nav를 감싸는 행과 컬럼을 추가하여 가운데 정렬 */
    .row.small-nav-row {
        display: flex;
        justify-content: center;
    }

    /* .small-nav를 감싸는 행의 스타일 수정 */
    .row.small-nav-row::before,
    .row.small-nav-row::after {
        display: none;
    }

    .empty-cell {
        height: 3rem;
    }

    .unit {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 1rem;
        padding: 1rem 0 1rem 0;
        border-top: 2px solid #D4DEE5;
        border-bottom: 2px solid #D4DEE5;
    }

    .section-title h3 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 120%;
    
        padding-right: 3rem;
        margin: 0;
    }

    .section-title-kor {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .txt p {
        font-size: 1rem;
    
        margin: 0;
    }
    
    .kor p {
        font-size: 0.9rem;
        line-height: 170%;
    
        margin-bottom: 1rem;
    }

    #location {
        width: 100%;

        margin-top: 1rem;
    }

    .qna-title h5 {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 170%;
    
        margin: 0;
    }
    
    .qna-list .qna-answer p {
        font-size: 1rem;
        line-height: 170%;
    
        padding: 1.5rem 0 0.5rem 0;
    }

    .gallery-archive p {
        font-size: 4rem;
    }

    .credit-title {
        color: #000;
        background-color: #D4DEE5;
    
        margin-bottom: 1rem;
        padding: 0;
    }
    
    .credit-title p {
        font-size: 1rem;
        margin: 0;
        line-height: 2rem;
    
        text-align: center;
    }

    #art {
        margin-bottom: 2rem;
    }

    #change > div:nth-child(1) {
        order: 3;
    }

    #change > div:nth-child(2) {
        display: none;
    }

    #change > div:nth-child(3) {
        order: 1;
        margin-bottom: 2rem;
    }

    footer {
        position: relative;
        z-index: 1;

        padding: 0.75rem 0 0.75rem 0.75rem;

        display: flex;
        flex-direction: column;
    }

    .gap {
        display: block;
        height: 1rem;
    }

    .frame {
        height: 100%;
    
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-gallery {
        width: 100%;
        height: 100%;

        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 2rem 0 37.59px 0;
    
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .archive-caption {
        width: 100%;
        text-align: center;

        padding: 1rem 1rem 2rem 1rem;
    }

    .default {
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }
    
    .hover {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 15px;
    }

    .archive-caption > h4 {
        font-size: 1.25rem;
    }

    .archive-caption > h6 {
        font-size: 0.9rem;
    }

    .discard {
        display: none;
    }

    #archive-header {
        display: none;
    }

    .go-back-btn {
        display: none;
    }

    .archive-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .archive-title > h3 {
        width: 80%;
    }

    .sm-go-back-btn {
        width: 20%;
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .sm-go-back-btn > img {
        height: 100%;
        align-self: center;
    }

    .archive-text {
        margin-top: 0.5rem;
    }
}


@media (max-width: 576px) {
    header, .HIVCD {
        display: none;
    }

    .md-header {
        position: fixed;
        width: 100%;
        height: 2rem;
        z-index: 10;

        padding: 0.5rem;
        margin: 0 0 1rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: #D4DEE5;
    }

    .empty-cell {
        height: 2rem;
    }

    .empty-cell:nth-of-type(1), .empty-cell:nth-of-type(2) {
        display: none;
    }

    .md-btn-index, .md-HIVCD {
        height: 100%;
    }

    .md-WFF {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .md-WFF > img {
        height: 100%;
    }

    .md-WFF > img:hover {
        opacity: 0.7;
    }

    .page-container nav {
        display: none;
    }

    /* .small-nav를 감싸는 행과 컬럼을 추가하여 가운데 정렬 */
    .row.small-nav-row {
        display: flex;
        justify-content: center;
    }

    /* .small-nav를 감싸는 행의 스타일 수정 */
    .row.small-nav-row::before,
    .row.small-nav-row::after {
        display: none;
    }

    .unit {
        display: flex;
        flex-direction: column;
    }
    
    .section-title {
        margin-bottom: 1rem;
        padding: 1rem 0 1rem 0;
        border-top: 2px solid #D4DEE5;
        border-bottom: 2px solid #D4DEE5;
    }

    .section-title h3 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 120%;
    
        padding-right: 3rem;
        margin: 0;
    }

    .section-title-kor {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .txt p {
        font-size: 1rem;
    
        margin: 0;
    }
    
    .kor p {
        font-size: 0.9rem;
        line-height: 170%;
    
        margin-bottom: 1rem;
    }

    #location {
        width: 100%;
        
        margin-top: 1rem;
    }

    .qna-title h5 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 170%;
    
        margin: 0;
    }
    
    .qna-list .qna-answer p {
        font-size: 1rem;
        line-height: 170%;
    
        padding: 1.5rem 0 0.5rem 0;
    }

    .gallery-archive p {
        font-size: 3rem;
    }

    .credit-title {
        color: #000;
        background-color: #D4DEE5;
    
        margin-bottom: 1rem;
        padding: 0;
    }
    
    .credit-title p {
        font-size: 1rem;
        margin: 0;
        line-height: 2rem;
    
        text-align: center;
    }

    #art {
        margin-bottom: 2rem;
    }

    #change > div:nth-child(1) {
        order: 3;
    }

    #change > div:nth-child(2) {
        display: none;
    }

    #change > div:nth-child(3) {
        order: 1;
        margin-bottom: 2rem;
    }

    footer {
        padding: 0.75rem 0 0.75rem 0.75rem;
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
    }

    .gap {
        display: block;
        height: 1rem;
    }

    .default_diagram {
        display: none;
    }

    .mobile_diagram {
        display: block;
    }

    .frame {
        height: 100%;
    
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-gallery {
        width: 100%;
        height: 100%;

        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 2rem 0 37.59px 0;
    
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .default {
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 10px;
    }
    
    .hover {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    
        border-radius: 10px;
    }

    .image-link {
        width: 100%;
        cursor: pointer;
    }

    .archive-caption {
        width: 100%;
        text-align: center;
    
        padding: 0.8rem 0.8rem 1.6rem 0.8rem;
    }

    .archive-caption > h4 {
        font-size: 1rem;
    }

    .archive-caption > h6 {
        font-size: 0.8rem;
    }

    .discard {
        display: none;
    }

    #archive-header {
        display: none;
    }

    .go-back-btn {
        display: none;
    }

    .archive-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .archive-title > h3 {
        width: 80%;
    }

    .sm-go-back-btn {
        width: 20%;
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .sm-go-back-btn > img {
        height: 100%;
        align-self: center;
    }

    .archive-text {
        margin-top: 0.5rem;
    }
}




/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * wowff2023.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

/* INSTRUCTIONS
 *
 * Copy the Legal Disclaimer, the domains name and the @font-faces statements to your regular CSS file. The fonts folder(s) should be placed relative to the regular CSS file.
 */

 @font-face {
    font-family: 'Theinhardt Mono';
    src: url('Theinhardt-Mono-Regular.eot');
    src: url('Theinhardt-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Theinhardt-Mono-Regular/Theinhardt-Mono-Regular.woff2') format('woff2'),
         url('../fonts/Theinhardt-Mono-Regular/Theinhardt-Mono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; /* 영어 대문자, 영어 소문자, 숫자 */
}


/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

/* unicode-range: 한글, 특수문자 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Black.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Black.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-ExtraBold.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Bold.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-SemiBold.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Medium.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Medium.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Regular.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Light.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Light.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-ExtraLight.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../fonts/Pretendard-1.3.9/woff2/Pretendard-Thin.woff2) format('woff2'), url(../fonts/Pretendard-1.3.9/woff/Pretendard-Thin.woff) format('woff');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}